/*
Description:
    Contains all the styles for the winning wheel page.
    
Verison History:
    2012-01-28, Douglas McKechie
    - Created based off earlier version.
    
    2015-09-26, Douglas McKechie
    - Minor updates for the 2.0 winwheel example.
*/

body
{
    font-family: arial;
}

/* Sets the background image for the wheel */
.the_wheel
{
    background-image: url(./wheel_back.png);
    background-position: center;
    background-repeat: none;
    width: 436px;
    height: 549px;
}

/* Do some css reset on selected elements */
canvas{
       width: 614px;
    margin-left: -90px;
    margin-top: -32px;
}
.pop-outer{
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgb(0,0,0,0.5);
                z-index: 3;
            }
            .pop-inner{
                background: #fff;
                margin: 10% auto;
                padding: 15px;
                width: 75%;
                height: auto;
                overflow-y: scroll;

            }


/* Styles for the power selection controls */



/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}
@media only screen and (max-width: 500px) {
   .the_wheel
    {
        /*display: none;*/
        background-image: url();
        /*background-position: center;*/
        /*background-repeat: none;*/
              width: 218px;
                margin: -88px;
            height:  300px;
    }
    .for-mobile{
        margin-top: 68px;
    }
    canvas{
        width: 386px;            /*margin-left: -8px;*/
    }
    .pop-inner{
               /* background: #fff;*/
                margin: 70% auto;
            }
    
}